/*사용자 지정 CSS 속성(변수)*/

:root {
  --base: #bb0909;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  filter: blur(var(--blur));
  background: var(--base);
}

.ht {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", cursive;
  font-weight: 100;
  font-size: 50px;
}

.variables {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
